In [36]:
import pint
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import math
unit = pint.UnitRegistry()
def ltx(a):
    print(a.to_latex(escape=False))

In [37]:
rounddata = pd.read_csv('round.csv')
rounddata['va']/=100
rounddata['vb']/=100
rounddata['vc']/=100
rounddata['r']+=10
rounddata['r']/=1000
rounddata['avg']=np.average(pd.concat([rounddata['va'],rounddata['vb'],rounddata['vc']],axis=1).values,axis=1)
rounddata['teor']=-10/np.log(80/10)*np.log(vAvg['r']/(0.08))
ltx(rounddata)

\begin{tabular}{lrrrrrr}
\toprule
{} &      r &    va &    vb &    vc &       avg &      teor \\
\midrule
0 &  0.021 &  6.85 &  6.38 &  7.20 &  6.810000 &  6.432036 \\
1 &  0.030 &  5.22 &  4.92 &  5.75 &  5.296667 &  4.716792 \\
2 &  0.040 &  3.98 &  3.82 &  4.45 &  4.083333 &  3.333333 \\
3 &  0.050 &  3.04 &  2.90 &  3.40 &  3.113333 &  2.260240 \\
4 &  0.060 &  2.21 &  2.12 &  2.70 &  2.343333 &  1.383458 \\
5 &  0.070 &  1.63 &  1.41 &  1.90 &  1.646667 &  0.642150 \\
6 &  0.079 &  1.18 &  0.86 &  1.22 &  1.086667 &  0.060491 \\
\bottomrule
\end{tabular}

In [38]:
vAvg=pd.DataFrame()
vAvg['r']=rounddata['r']
vAvg['avg']=np.average(pd.concat([rounddata['va'],rounddata['vb'],rounddata['vc']],axis=1).values,axis=1)
vAvg['teor']=-10/np.log(80/10)*np.log(vAvg['r']/(0.08))
vAvg

       r       avg      teor
0  0.021  6.810000  6.432036
1  0.030  5.296667  4.716792
2  0.040  4.083333  3.333333
3  0.050  3.113333  2.260240
4  0.060  2.343333  1.383458
5  0.070  1.646667  0.642150
6  0.079  1.086667  0.060491

vAvg

In [47]:
E=pd.DataFrame()
E['r']=(vAvg['r'].values[1:] + vAvg['r'].values[:-1]) /2
E['e']=(vAvg['avg'].values[1:] - vAvg['avg'].values[:-1]) / (vAvg['r'].values[1:] - vAvg['r'].values[:-1])
E['eteor']=-10/E['r']/np.log(80/10)
ltx(E)

\begin{tabular}{lrrr}
\toprule
{} &       r &           e &       eteor \\
\midrule
0 &  0.0255 & -168.148148 & -188.587587 \\
1 &  0.0350 & -121.333333 & -137.399528 \\
2 &  0.0450 &  -97.000000 & -106.866299 \\
3 &  0.0550 &  -77.000000 &  -87.436063 \\
4 &  0.0650 &  -69.666667 &  -73.984361 \\
5 &  0.0745 &  -62.222222 &  -64.550114 \\
\bottomrule
\end{tabular}

In [55]:
fig = plt.figure()
teorx=np.linspace(20,80,100)
teory=-10/np.log(80/10)*np.log(teorx/(80))
teorex=np.linspace(25,75,100)
teorey=-10/teorex*1000/np.log(80/10)
ax = fig.add_subplot(211)
bx = fig.add_subplot(212)
ax.grid()
ax.set_ylabel("V teor (dół), V prakt (góra)")
bx.set_ylabel("E teor (dół), E prakt (góra)")
bx.grid()
ax.plot(teorx/1000,teory,color='blue')
ax.plot(vAvg['r'],vAvg['avg'],color='red')
bx.plot(E['r'],E['e'],color='red')
bx.plot(teorex/1000,teorey,color='blue')

fig.savefig('round.pgf')

In [22]:
rounddata['vavg']=(rounddata['vb']+rounddata['vc']+rounddata['va'])/3
rounddata['vteor']=(rounddata['vb']+rounddata['vc']+rounddata['va'])/3
rounddata.to_latex()

'\\begin{tabular}{lrrrrr}\n\\toprule\n{} &      r &    va &    vb &    vc &      vavg \\\\\n\\midrule\n0 &  0.021 &  6.85 &  6.38 &  7.20 &  6.810000 \\\\\n1 &  0.030 &  5.22 &  4.92 &  5.75 &  5.296667 \\\\\n2 &  0.040 &  3.98 &  3.82 &  4.45 &  4.083333 \\\\\n3 &  0.050 &  3.04 &  2.90 &  3.40 &  3.113333 \\\\\n4 &  0.060 &  2.21 &  2.12 &  2.70 &  2.343333 \\\\\n5 &  0.070 &  1.63 &  1.41 &  1.90 &  1.646667 \\\\\n6 &  0.079 &  1.18 &  0.86 &  1.22 &  1.086667 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [157]:
columns=['ex','ey','E']

data=pd.DataFrame([[0.25,0.14,0.35],[0.58,0.48,0.79],[0.25,0.14,0.35]],columns=['curr','up','left'])
a=(data['curr']-data['up'])/0.02
b=(data['curr']-data['left'])/0.02
d=np.round(np.linalg.norm(np.array([a,b])),2)
vectors=pd.DataFrame({'ey':a,'ex':b,'|e|':d})

In [158]:
vectors

     ex   ey   |e|
0  -5.0  5.5  16.0
1 -10.5  5.0  16.0
2  -5.0  5.5  16.0